body {
    margin: 0px;
}

#screen {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
}

.ui-log-panel {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
    border: 1px solid black;
    background-color: black;
    opacity: .5;
    color: white;
}
