.static-object {
    position: absolute;
    left: 0px;
    top: 0px;
}

.static-object-brick {
    background-image: url("../images/brick1.png");
    /* background-repeat: repeat-y; */
    background-repeat: repeat;
}

.moving-object-mario-standing {
    background-image: url("../images/mario-standing.png");
    /* background-repeat: repeat-y; */
    background-size: 100% 100%;
}